.base-bread {
    background-color: orange;
    text-align: center;
    width: 100%;
    height: 5vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 5px;
}